<footer class="site-footer">
  {{ with site.GetPage "license.md" }}
  <p class="powered-by">
    {{ printf "<a href=\"%s\">%s <br> %s </a>" .RelPermalink .Title .LinkTitle  | safeHTML }}<br>
  </p>
  {{ end }}

  <p class="powered-by">
    {{ with site.Copyright }}{{ replace . "{year}" now.Year | markdownify}} &middot; {{ end }}

    <a href="https://github.com/nickbrazeau/nickbrazeau.github.io" target="_blank" rel="noopener"><i class="fas fa-code-branch" style="color:#0072B2"></i></a>  &middot;
    Made by a large hominin in between <i class="fas fa-stethoscope" style="color:#0072B2"></i> and <i class="fas fa-laptop" style="color:#0072B2"></i>
    {{ if ne .Type "docs" }}
    <span class="float-right" aria-hidden="true">
      <a href="#" id="back_to_top">
        <span class="button_icon">
          <i class="fas fa-chevron-up fa-2x"></i>
        </span>
      </a>
    </span>
    {{ end }}
  </p>
</footer>
